body {
margin:0;
font-family:Segoe UI;
background:linear-gradient(-45deg,#0f172a,#1e293b,#0f172a,#111827);
background-size:400% 400%;
animation:bg 12s ease infinite;
color:white;
}

@keyframes bg {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

.container {
width:90%;
margin:auto;
padding:20px;
}

h1 {
text-align:center;
margin-bottom:20px;
background:linear-gradient(45deg,#00f5ff,#ff00c8);
-webkit-background-clip:text;
color:transparent;
}

.card {
background:rgba(255,255,255,0.05);
backdrop-filter:blur(15px);
padding:20px;
border-radius:20px;
margin-top:20px;
box-shadow:0 8px 30px rgba(0,0,0,0.4);
}

input, select {
padding:8px;
border-radius:8px;
border:none;
margin:5px;
}

button {
padding:10px 18px;
border:none;
border-radius:10px;
margin:5px;
cursor:pointer;
font-weight:bold;
background:linear-gradient(45deg,#00f5ff,#ff00c8);
color:white;
transition:0.3s;
}

button:hover {
transform:scale(1.05);
box-shadow:0 0 15px #00f5ff;
}

.memory-block {
padding:8px;
margin:6px 0;
border-radius:10px;
font-weight:bold;
}

.free {
background:linear-gradient(45deg,#00ff9d,#00f5ff);
}

.allocated {
background:linear-gradient(45deg,#ff00c8,#ff4d6d);
}